In [158]:
import pandas as pd
import numpy as np

df = pd.read_csv('names_orig.txt')

In [159]:
df['total_app'] = np.where(df['ex_scroll'] > 0, 1, 0)

In [160]:
small = df[0:1000]

In [161]:
small['ex_scroll'].unique()

array([ 0,  1,  2, 27, 14, 31, 19,  4], dtype=int64)

In [162]:
df.loc[211]['total_app']

1

In [163]:
def find_count_mod(word, index, df):
    if df.loc[index]['ex_scroll'] == 0:
        return 0
    count = 0
    for i in range(0, index):
        if word in df.loc[i]['Name']:
            count += 1
    for j in range(index + 1, len(df)):
        if word in df.loc[j]['Name']:
            count += 1
    return count

In [164]:
find_count_mod('FAR FROM THE MADDING CROWD', 0, df)

0

In [165]:
small['tot'] = 0

C:\Users\isaac\AppData\Local\Temp\ipykernel_23268\2160715687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small['tot'] = 0

In [221]:
import numpy as np

import pandas as pd

import pathlib as fl

import os as os

from PIL import Image


labs = pd.read_csv('labels.csv')

routes = pd.read_csv('routes.csv')

labs = labs.drop(labels = ['Unnamed: 0'], axis = 1)

routes = routes.drop(labels = ['Unnamed: 0'], axis = 1)

routes['dup'] = routes.duplicated(subset = ['1x0', '1x1', '1x2', '1x3', '1x4', '1x5', '1x6', '1x7', '1x8', '1x9', '1x10', '2x0', '2x1', '2x2', '2x3', '2x4', '2x5', '2x6', '2x7', '2x8', '2x9', '2x10', '3x0', '3x1', '3x2', '3x3', '3x4', '3x5', '3x6', '3x7', '3x8', '3x9', '3x10', '4x0', '4x1', '4x2', '4x3', '4x4', '4x5', '4x6', '4x7', '4x8', '4x9', '4x10', '5x0', '5x1', '5x2', '5x3', '5x4', '5x5', '5x6', '5x7', '5x8', '5x9', '5x10', '6x0', '6x1', '6x2', '6x3', '6x4', '6x5', '6x6', '6x7', '6x8', '6x9', '6x10', '7x0', '7x1', '7x2', '7x3', '7x4', '7x5', '7x6', '7x7', '7x8', '7x9', '7x10', '8x0', '8x1', '8x2', '8x3', '8x4', '8x5', '8x6', '8x7', '8x8', '8x9', '8x10', '9x0', '9x1', '9x2', '9x3', '9x4', '9x5', '9x6', '9x7', '9x8', '9x9', '9x10', '10x0', '10x1', '10x2', '10x3', '10x4', '10x5', '10x6', '10x7', '10x8', '10x9', '10x10', '11x0', '11x1', '11x2', '11x3', '11x4', '11x5', '11x6', '11x7', '11x8', '11x9', '11x10', '12x0', '12x1', '12x2', '12x3', '12x4', '12x5', '12x6', '12x7', '12x8', '12x9', '12x10', '13x0', '13x1', '13x2', '13x3', '13x4', '13x5', '13x6', '13x7', '13x8', '13x9', '13x10', '14x0', '14x1', '14x2', '14x3', '14x4', '14x5', '14x6', '14x7', '14x8', '14x9', '14x10', '15x0', '15x1', '15x2', '15x3', '15x4', '15x5', '15x6', '15x7', '15x8', '15x9', '15x10', '16x0', '16x1', '16x2', '16x3', '16x4', '16x5', '16x6', '16x7', '16x8', '16x9', '16x10', '17x0', '17x1', '17x2', '17x3', '17x4', '17x5', '17x6', '17x7', '17x8', '17x9', '17x10', '18x0', '18x1', '18x2', '18x3', '18x4', '18x5', '18x6', '18x7', '18x8', '18x9', '18x10'], keep = False)
routes.index = routes['Name']
routes = routes.drop(labels =['Name'], axis = 1)
routes

,1x0,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,18x2,18x3,18x4,18x5,18x6,18x7,18x8,18x9,18x10,dup
Name,,,,,,,,,,,,,,,,,,,,,
# E-Z WARMUP,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,F,N,N,False
##1,N,N,N,N,N,N,N,N,N,N,...,N,N,F,N,N,N,N,N,N,False
##2,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,F,N,N,False
##3,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,F,False
##4,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,F,N,N,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZZZZZZZZZZ,N,N,N,N,N,N,N,N,N,N,...,N,F,N,N,N,N,N,N,N,True
[Jump city,N,N,N,N,N,N,N,N,N,N,...,N,F,N,N,N,N,N,N,N,True
] V5-6,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,F,N,N,N,N,False
_TEST1,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,F,N,N,N,N,False
â€œSKY AND SAND â€œ,N,N,N,N,N,N,N,N,N,N,...,N,F,N,N,N,N,N,N,N,True

In [222]:
labs = labs.join(routes, on = 'Name',how = 'left')

In [223]:
offs = pd.read_csv('offset.txt')
offs = offs.drop(labels = ['Unnamed: 0'], axis = 1)

In [224]:
offs.index = offs['Name']
offs = offs.drop(labels =['Name'], axis = 1)

In [225]:
offs[offs['ex_scroll'] < 0]

Empty DataFrame
Columns: [ex_scroll, total_app, offset, min]
Index: []

In [226]:
labs = labs.join(offs, on = 'Name',how = 'left')

In [227]:
labs['dup'] = labs.duplicated(subset = ['1x0', '1x1', '1x2', '1x3', '1x4', '1x5', '1x6', '1x7', '1x8', '1x9', '1x10', '2x0', '2x1', '2x2', '2x3', '2x4', '2x5', '2x6', '2x7', '2x8', '2x9', '2x10', '3x0', '3x1', '3x2', '3x3', '3x4', '3x5', '3x6', '3x7', '3x8', '3x9', '3x10', '4x0', '4x1', '4x2', '4x3', '4x4', '4x5', '4x6', '4x7', '4x8', '4x9', '4x10', '5x0', '5x1', '5x2', '5x3', '5x4', '5x5', '5x6', '5x7', '5x8', '5x9', '5x10', '6x0', '6x1', '6x2', '6x3', '6x4', '6x5', '6x6', '6x7', '6x8', '6x9', '6x10', '7x0', '7x1', '7x2', '7x3', '7x4', '7x5', '7x6', '7x7', '7x8', '7x9', '7x10', '8x0', '8x1', '8x2', '8x3', '8x4', '8x5', '8x6', '8x7', '8x8', '8x9', '8x10', '9x0', '9x1', '9x2', '9x3', '9x4', '9x5', '9x6', '9x7', '9x8', '9x9', '9x10', '10x0', '10x1', '10x2', '10x3', '10x4', '10x5', '10x6', '10x7', '10x8', '10x9', '10x10', '11x0', '11x1', '11x2', '11x3', '11x4', '11x5', '11x6', '11x7', '11x8', '11x9', '11x10', '12x0', '12x1', '12x2', '12x3', '12x4', '12x5', '12x6', '12x7', '12x8', '12x9', '12x10', '13x0', '13x1', '13x2', '13x3', '13x4', '13x5', '13x6', '13x7', '13x8', '13x9', '13x10', '14x0', '14x1', '14x2', '14x3', '14x4', '14x5', '14x6', '14x7', '14x8', '14x9', '14x10', '15x0', '15x1', '15x2', '15x3', '15x4', '15x5', '15x6', '15x7', '15x8', '15x9', '15x10', '16x0', '16x1', '16x2', '16x3', '16x4', '16x5', '16x6', '16x7', '16x8', '16x9', '16x10', '17x0', '17x1', '17x2', '17x3', '17x4', '17x5', '17x6', '17x7', '17x8', '17x9', '17x10', '18x0', '18x1', '18x2', '18x3', '18x4', '18x5', '18x6', '18x7', '18x8', '18x9', '18x10'])

In [231]:
labs

,Name,Creator,Repeats,Grade,Type,Stars1,Stars2,1x0,1x1,1x2,...,18x6,18x7,18x8,18x9,18x10,dup,ex_scroll,total_app,offset,min
0,FAR FROM THE MADDING CROWD,Ben Moon,20928 repeats,6B+ (User grade 6B+),Feet follow hands,KKKKY,eee,N,N,N,...,N,N,N,N,N,False,0.0,1.0,0.0,1.0
1,WUTHERING HEIGHTS,Ben Moon,29496 repeats,6B+ (User grade 6B+),Feet follow hands,NaN,NaN,N,N,N,...,N,N,N,N,N,False,0.0,1.0,0.0,1.0
2,PROBLEM 3,Ally Patrick,612 repeats,6B+ (User grade 6B+),Feet follow hands,NaN,NaN,N,N,N,...,N,N,F,N,N,False,0.0,1.0,0.0,1.0
3,HARD TIMES,Ben Moon,7494 repeats,7A (User grade 7A),Feet follow hands,KkKkKkk,NaN,N,N,N,...,N,N,F,N,N,False,0.0,1.0,0.0,1.0
4,PROBLEM 5,Ally Patrick,221 repeats,7A (User grade 7A),Feet follow hands,NaN,NaN,N,N,N,...,N,N,N,N,N,False,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50599,BLADE OF MIQUELLA,Wilburine,Srepeats,7C (User grade 7B+),Feet follow hands,Kkkkk,eee,N,N,N,...,N,N,N,N,N,False,0.0,1.0,0.0,1.0
50600,MUSCLE UP,Karel,3 repeats,6C (User grade 6C),Feet follow hands,eee,NaN,N,N,N,...,N,N,N,N,N,False,0.0,2.0,0.0,2.0
50601,FLAI180,HHH,Be the first to repeat this problem,7A,Feet follow hands,NaN,NaN,N,N,N,...,N,N,F,N,F,False,0.0,1.0,0.0,1.0
50602,BLACKSMITH,hadi,2 repeats,7A (User grade 7A),Feet follow hands,eee,NaN,N,N,N,...,N,N,N,N,N,False,0.0,1.0,0.0,1.0
50603,GARROTTES FOR POWER,leecujes,Be the first to repeat this problem,6C+,Feet follow hands,eee,NaN,N,N,N,...,N,N,N,N,N,False,0.0,1.0,0.0,1.0

In [232]:
redo = labs[labs['Repeats'] != 'Be the first to repeat this problem'] # drop low repeats

In [233]:
vals = redo['Repeats'].values

for i in range(len(vals)):
    vals[i] = vals[i].rstrip('repeats')
    vals[i] = vals[i].rstrip('climber has repeated this problem')
    vals[i] = vals[i].replace('S','5')
    
redo['Repeats'] = pd.to_numeric(redo['Repeats'], errors = 'coerce')

C:\Users\isaac\AppData\Local\Temp\ipykernel_23268\631238181.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redo['Repeats'] = pd.to_numeric(redo['Repeats'], errors = 'coerce')

In [234]:
redo = redo[redo['Repeats'] >= 3]

In [235]:
redo

,Name,Creator,Repeats,Grade,Type,Stars1,Stars2,1x0,1x1,1x2,...,18x6,18x7,18x8,18x9,18x10,dup,ex_scroll,total_app,offset,min
0,FAR FROM THE MADDING CROWD,Ben Moon,20928.0,6B+ (User grade 6B+),Feet follow hands,KKKKY,eee,N,N,N,...,N,N,N,N,N,False,0.0,1.0,0.0,1.0
1,WUTHERING HEIGHTS,Ben Moon,29496.0,6B+ (User grade 6B+),Feet follow hands,NaN,NaN,N,N,N,...,N,N,N,N,N,False,0.0,1.0,0.0,1.0
2,PROBLEM 3,Ally Patrick,612.0,6B+ (User grade 6B+),Feet follow hands,NaN,NaN,N,N,N,...,N,N,F,N,N,False,0.0,1.0,0.0,1.0
3,HARD TIMES,Ben Moon,7494.0,7A (User grade 7A),Feet follow hands,KkKkKkk,NaN,N,N,N,...,N,N,F,N,N,False,0.0,1.0,0.0,1.0
4,PROBLEM 5,Ally Patrick,221.0,7A (User grade 7A),Feet follow hands,NaN,NaN,N,N,N,...,N,N,N,N,N,False,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50589,BRAP IT2,dflacker,4.0,7A+ (User grade 7A+),Feet follow hands,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,True,0.0,1.0,0.0,1.0
50591,LLAMA DEL REY,Sméagol,27.0,6B+ (User grade 6B+),Feet follow hands,eee,NaN,N,N,N,...,F,N,N,N,N,False,0.0,1.0,0.0,1.0
50594,ISLAND LARD,Bonzu3,5.0,6C+ (User grade 6C+),Feet follow hands,eee,NaN,N,N,N,...,N,N,N,N,N,False,0.0,1.0,0.0,1.0
50599,BLADE OF MIQUELLA,Wilburine,5.0,7C (User grade 7B+),Feet follow hands,Kkkkk,eee,N,N,N,...,N,N,N,N,N,False,0.0,1.0,0.0,1.0
50600,MUSCLE UP,Karel,3.0,6C (User grade 6C),Feet follow hands,eee,NaN,N,N,N,...,N,N,N,N,N,False,0.0,2.0,0.0,2.0

In [237]:
redo[redo['ex_scroll'] >0]

,Name,Creator,Repeats,Grade,Type,Stars1,Stars2,1x0,1x1,1x2,...,18x6,18x7,18x8,18x9,18x10,dup,ex_scroll,total_app,offset,min
211,POGO,luke hutcheson,5824.0,7A (User grade 7A),Feet follow hands,NaN,NaN,N,N,N,...,N,N,F,N,N,False,1.0,65.0,0.0,9.0
211,POGO,luke hutcheson,5824.0,7A (User grade 7A),Feet follow hands,NaN,NaN,N,N,N,...,N,N,F,N,N,True,47.0,65.0,0.0,9.0
212,TWIST,luke hutcheson,39.0,6B (User grade 6B),Feet follow hands,NaN,NaN,N,N,N,...,N,N,N,N,N,False,2.0,72.0,0.0,9.0
230,1,Hugo Hoyer,1363.0,6B+ (User grade 6B+),Feet follow hands,NaN,NaN,N,N,N,...,N,N,F,N,N,True,27.0,3411.0,0.0,9.0
230,1,Hugo Hoyer,1363.0,6B+ (User grade 6B+),Feet follow hands,NaN,NaN,N,N,N,...,N,N,F,N,N,True,31.0,3411.0,0.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50324,181,davidspr,15.0,6B+ (User grade 6B+),Feet follow hands,NaN,NaN,N,N,N,...,N,N,N,N,N,True,1.0,10.0,6.0,9.0
50370,RANGE,Linguine Lats,8.0,6B+ (User grade 6B+),Feet follow hands,NaN,NaN,N,N,N,...,F,N,N,N,N,True,38.0,47.0,8.0,9.0
50441,MELO,kaanturkeli,7.0,6B+ (User grade 6B+),Feet follow hands,NaN,NaN,N,N,N,...,N,N,F,N,N,True,21.0,30.0,8.0,9.0
50469,SCRUNCH,Kazu,4.0,7A (User grade 7A),Feet follow hands,eee,NaN,N,N,N,...,N,N,N,N,N,True,2.0,11.0,8.0,9.0
50480,RUNNIN,KoalaClimbing,240.0,7B (User grade 7B),Feet follow hands,NaN,NaN,N,N,N,...,F,N,N,N,N,True,5.0,14.0,8.0,9.0

In [239]:
# We need to re-do the duplicated ones, and the ones where either offset or ex_scoll > 0, (or missing ones)

redo= redo[np.logical_or(redo['dup'] == True, redo['offset'] > 0)]

In [240]:
redo.columns

Index(['Name', 'Creator', 'Repeats', 'Grade', 'Type', 'Stars1', 'Stars2',
       '1x0', '1x1', '1x2',
       ...
       '18x6', '18x7', '18x8', '18x9', '18x10', 'dup', 'ex_scroll',
       'total_app', 'offset', 'min'],
      dtype='object', length=210)

In [249]:
tcsv = redo[['Name', 'ex_scroll','offset']]

In [257]:
tcsv['ex_scroll'] = pd.to_numeric(tcsv['ex_scroll'], downcast = "integer")
tcsv['offset'] = pd.to_numeric(tcsv['offset'], downcast = "integer")

C:\Users\isaac\AppData\Local\Temp\ipykernel_23268\210727272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tcsv['ex_scroll'] = pd.to_numeric(tcsv['ex_scroll'], downcast = "integer")
C:\Users\isaac\AppData\Local\Temp\ipykernel_23268\210727272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tcsv['offset'] = pd.to_numeric(tcsv['offset'], downcast = "integer")

In [258]:
tcsv['ex_scroll']

6        0
46       0
54       0
77       0
94       0
        ..
50561    0
50568    0
50580    0
50581    0
50589    0
Name: ex_scroll, Length: 11017, dtype: int16

In [259]:
tcsv.to_csv("redo.txt", index = False, sep = '|')

In [244]:
re_names = redo['Name'].values

In [247]:
for val in re_names:
    if '|' in val:
        print(val)

In [202]:
mod = pd.read_csv("mod_names.txt")

In [203]:
mod

                             Name  ex_scroll  total_app
0      FAR FROM THE MADDING CROWD          0          1
1               WUTHERING HEIGHTS          0          1
2                       PROBLEM 3          0          1
3                      HARD TIMES          0          1
4                       PROBLEM 5          0          1
...                           ...        ...        ...
50599           BLADE OF MIQUELLA          0          1
50600                   MUSCLE UP          1          2
50601                     FLAI180          0          1
50602                  BLACKSMITH          0          1
50603         GARROTTES FOR POWER          0          1

[50604 rows x 3 columns]

In [204]:
mod[mod['ex_scroll'] > 2]

          Name  ex_scroll  total_app
230          1         27       3411
231          2         14       2759
261          1         31       3411
262          2         19       2759
408       EASY          4        690
...        ...        ...        ...
50324      181          7         10
50370    RANGE         46         47
50441     MELO         29         30
50469  SCRUNCH         10         11
50480   RUNNIN         13         14

[1450 rows x 3 columns]

In [205]:

mod['offset'] = np.where(np.logical_and(mod['total_app']-mod['ex_scroll'] < 9, mod['ex_scroll'] > 0),mod['total_app']-mod['ex_scroll'], 0)

In [206]:
mod[mod['ex_scroll'] > 2]

          Name  ex_scroll  total_app  offset
230          1         27       3411       0
231          2         14       2759       0
261          1         31       3411       0
262          2         19       2759       0
408       EASY          4        690       0
...        ...        ...        ...     ...
50324      181          7         10       3
50370    RANGE         46         47       1
50441     MELO         29         30       1
50469  SCRUNCH         10         11       1
50480   RUNNIN         13         14       1

[1450 rows x 4 columns]

In [207]:
# offset currently holds the gap between the observed and end, but we need to subtract X = 8-offset from ex_scroll and then add X to offset

In [208]:
mod['min'] = np.where(mod['total_app'] > 8, 9, mod['total_app'])

In [209]:
mod['ex_scroll'] = np.where(mod['offset'] > 0, mod['ex_scroll'] - (mod['min']-mod['offset']), mod['ex_scroll'])
mod['offset'] = np.where(mod['offset'] > 0, (mod['min']-mod['offset']), 0)

In [210]:
mod.loc[50480]

Name         RUNNIN
ex_scroll         5
total_app        14
offset            8
min               9
Name: 50480, dtype: object

In [220]:

mod.to_csv("offset.txt")

In [212]:
mod[mod['ex_scroll'] < 0]

Empty DataFrame
Columns: [Name, ex_scroll, total_app, offset, min]
Index: []

In [216]:
mod

                             Name  ex_scroll  total_app  offset  min
0      FAR FROM THE MADDING CROWD          0          1       0    1
1               WUTHERING HEIGHTS          0          1       0    1
2                       PROBLEM 3          0          1       0    1
3                      HARD TIMES          0          1       0    1
4                       PROBLEM 5          0          1       0    1
...                           ...        ...        ...     ...  ...
50599           BLADE OF MIQUELLA          0          1       0    1
50600                   MUSCLE UP          0          2       0    2
50601                     FLAI180          0          1       0    1
50602                  BLACKSMITH          0          1       0    1
50603         GARROTTES FOR POWER          0          1       0    1

[50604 rows x 5 columns]

In [219]:
mod['Name', 'ex_scroll', 'offset']

KeyError: ('Name', 'ex_scroll', 'offset')